/data/*
!/data/README.md
datasets/raw/
datasets/interim/
datasets/processed/
*.nii
*.nii.gz
*.dcm
*.pt
*.pth
*.ckpt

__pycache__/
*.pyc
.venv/
venv/
.env
*.env

.DS_Store
.ipynb_checkpoints/
.~lock.*#

.ruff_cache/
.pytest_cache/
.mypy_cache/
